.outter-div{
  height: 300px;
  width: 300px;
  background-color:lightgreen;
  /* margin: auto;  */  /* The auto value align the element to center horizontally and top and bottom margin will be zero*/
  padding: 2%;
}

.inner-div{
  height: 50%;
  width:50%;
  background-color: lightpink;
  /* margin: auto; */

}

.second-outter-div{
  height: 100px;
  width:100px;
  background-color: lightblue;
}