#div-1{
  width: 200px;
  height: 10px;
  background-color: blue;
  /* animation: moveDiv 1s ease-in-out infinite alternate; */
  animation-name: moveDiv;
  animation-duration:4s ;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out ;
  animation-direction: alternate;
}

@keyframes moveDiv{
  from{

  }
  to{
    transform: translateX(500px) translateY(500px) rotate(360deg)
  }
}
